.shopping-cart {
  color: white;
  display: flex;
  justify-content: flex-end;
  flex: 1 0 auto;
  align-items: center;
  position: relative;
  margin-right: 5px;
}

.shopping-cart a {
  color: lightgray;
  transition: ease-in-out 200ms;
}

.shopping-cart a:hover {
  color: white;
}

.shopping-cart a .item-counter {
  top: 0px;
  right: -8px;
  position: absolute;
  border-radius: 100%;
  background-color: rgba(224, 23, 23, 0.9);
  padding: 0 5px;
  text-align: center;
  font-size: 12px;
}